@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  color: #000000e0;
  background-color: #eee;

  /* background-color: #80f2d6;
  background-image: radial-gradient(at 47% 33%, #19cc97 0, transparent 59%),
    radial-gradient(at 82% 65%, #00b3ff 0, transparent 55%); */
}

header {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.831);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
}

header a {
  text-decoration: none;
  color: #000;
}

#gradient {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #33337c;
  background-image: radial-gradient(at 47% 33%, #5656c2 0, transparent 59%),
    radial-gradient(at 82% 65%, #de4545 0, transparent 55%);
}

#subtitle-container {
  height: 120px;
  padding: 15px;
  width: 80%;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/*#region Search Bar*/

#search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #202020;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: auto;
  width: 80%;
}

.search-input:focus,
.search-input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border-color: #202020;
}

.search-input::placeholder {
  color: #777;
}

.search-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

/*#endregion Search Bar*/

/*#region Tool Cards*/

#cards {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
}

.tool-card {
  background-color: white;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  padding: 15px;
}

.title-and-image {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

main .tool-card img {
  width: 50px;
  margin-right: 10px;
}

main .tool-card h3 {
  font-size: 22px;
}

/*#endregion Tool Cards*/

/* #region Footer */

footer {
  background-color: #e0e0e0;
  color: #000;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

#what-is-amt {
  width: 100%;
  margin-bottom: 25px;
}

#what-is-amt img {
  width: 40px;
  margin-right: 10px;
}

#what-is-amt .title-and-image {
  margin-bottom: 15px;
}

#what-is-amt h3 {
  font-size: 25px;
}

aside {
  width: 50%;
  margin-bottom: 25px;
}

footer ul {
  margin-top: 15px;
}

footer li a {
  color: #000000e0;
  text-decoration: none;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer hr {
  width: 100%;
  color: #000000e0;
}

#license {
  margin-top: 25px;
  text-align: center;
}

#license img {
  margin-bottom: 10px;
}

#license a {
  color: #000000e0;
}

/* #endregion Footer */
